#footer-copyright {
    background: $color-4;
    height: 65px;

    @media(max-width:$brMobile) {
        height: auto;
        padding: 25px 0 10px;
    }

    .container-max {
        @media (max-width: $brMobile) {
            flex-direction: column;
        }
    }

    ul li:not(:last-child) {
        &::after {
            content: '|';
            display: block;
            margin-left: 10px;
            color: $color-0;
            margin-right: 8px;
        }
    }

    a, p {
        font-family: 'allerbold';
        font-size: $fontSize-8 - 1;
        color: $color-0;
    }
}

#footer-menu {
    background: $color-2;
    height: 385px;

    @media(max-width: $brMobile) {
        height: auto;
        padding: 40px 0;
    }

    .flexible-wrap {
        padding: 0 25px;
    }

    .social-link {
        @media(max-width:$brMobile) {
            padding-top: 30px;
            padding-bottom: 0;
        }

        ul li {
            margin-right: 15px;
            margin-bottom: 10px;
            position: relative;
            @include transition(opacity $duration-0 $easeInOutExpo);

            &:hover {
                opacity: .6;
            }

            a {
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                z-index: 1;
            }
        }
    }

    .contact-link ul li {
        margin-bottom: 15px;
        align-items: flex-start;

        @media(max-width: $brMobile) {
            margin-bottom: 7px;
        }    
    
        &:first-child a {
            color: $color-3;
        }

        &:last-child img {
            margin-top: 5px;
        }

        img {
            margin-right: 10px;
        }
        
    }

    .menu-link {
        @media(max-width: $brMobile) {
            padding-bottom: 0;
        } 
    }

    h6 {
        margin-bottom: 40px;
    }

    h6 + p {
        margin-bottom: 27px;
    }

    p, a {
        font-size: $fontSize-8;
        line-height: 24px;
    }

    h6, a, p {
        color: $color-0;
    }

    ul li {
        margin-bottom: 5px;

        &:hover a {
            color: $color-3;
        }

        a {
            @include transition(color $duration-0 $easeInOutExpo);
        }
    }
}

.flexible-wrap {
    flex-wrap: wrap;

    > div {
        flex: 1 1 25%;
        padding: 0 20px;

        &:first-child {
            padding-left: 0;
        }

        &:last-child {
            padding-right: 0;
        }

        @media(max-width: $brMobile) {
            flex-basis: 100%;
            padding: 0 0 30px 0;
        }
    }
}