#search {
    @media(max-width:$brMobile) {
        padding-top: 20px;
    }
}

.search-wrap {
    width: 100%;
    padding: 48px;
    position: relative;
    border-radius: 15px;
    background: $color-0;
    z-index: 2;

    @media(max-width:$brMobileSmall) {
        display: block;
        text-align: center;
    }

    @media(max-width:$brMobile) {
        padding: 15px;
    }

    * {
        font-size: $fontSize-7;
        font-family: 'allerbold';
    }

    input {
        width: 100%;
        border: none;
        background: $color-10;
        height: 80px;
        padding-left: 25px;
    }

    input::placeholder {
        color: $color-2;
        font-size: $fontSize-7;
        font-family: 'allerbold';

        @media(max-width:$brMobile) {
            font-size: $fontSize-8 + 1;
        }
    }

    span {
        position: absolute;
        right: 50px;
        background: $color-3;
        border-radius: 7px;
        margin: 10px;
        height: 60px;
        width: 180px;
        color: $color-0;
        cursor: pointer;

        @media(max-width:$brMobile) {
            right: 17px;
        }

        @media(max-width:$brMobileSmall) {
            right: 0;
            margin: 10px auto;
            position: relative;
        }
    }

    i {
        margin-right: 8px;
        font-size: $fontSize-5;
    }
}