#two-col {
    margin-bottom: 65px;
    
    .right-col,
    .left-col {
        flex: 1 1 50%;
        padding-top: 50px;
        padding-bottom: 50px;
        border-radius: 20px;
        background: $color-0;
    }

    .right-col {
        margin-left: 30px;
    }

    .left-col {
        margin-right: 30px;
    }

    .col-wrap {
        max-width: 370px;
        width: 100%;
        margin: 0 auto;
    }

    .container-max {
        @media(max-width: $brMobile) {
            flex-direction: column;
        }
    }
}