body,
html {
    font-family: 'allerregular';
    color: $color-2;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: 'allerbold';
}

h1 {
    font-size: $fontSize-0;
    line-height: 73px;
    letter-spacing: 0.25px;

    @media ( max-width: $brMobile ) {
        line-height: 53px;
        font-size: $fontSize-3;
    }
}

h2 {
    font-size: $fontSize-1;
}

h3 {
    font-size: $fontSize-3;
    line-height: 73px;

    @media ( max-width: $brMobile ) {
        line-height: 36px;
        font-size: $fontSize-6 + 1;
    }
}

h4 {
    font-size: $fontSize-4 - 1;
    line-height: 46px;

    @media (max-width: $brMobile) {
       font-size: $fontSize-5 + 2;
       line-height: 32px;
    }
}

h5 {
    font-size: $fontSize-6 - 1;
    line-height: 33px;

    @media (max-width: $brMobile) {
       font-size: $fontSize-7 + 2;
       line-height: 30px;
    }
}

h6 {
    font-size: $fontSize-7;
    line-height: 27px;
    letter-spacing: -0.1px;
    font-family: 'allerbold';

    @media (max-width: $brMobile) {
       font-size: $fontSize-7 - 2;
       line-height: 26px;
    }
}

p {
	font-size: $fontSize-8 + 1;
    line-height: 24px;
    font-family: 'allerregular';
}

a {
	text-decoration: none;
}

strong {
	font-family: 'allerbold';
}  
